:root {
  --background-color: #0a192f;
  --heading-color: #ccd6f6;
  --primary-color: #8892b0;
  --secondary-color: #53d4ba;
  --heading-font-family: "Josefin Sans", sans-serif;
  --paragraph-font-family: "Open Sans", sans-serif;
  --font-mono: monospace;
}

body {
  background-color: var(--background-color);
}
.introduction {
  padding-top: 100px;
  margin: 0 112px;
}
.introduction h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
  color: var(--heading-color);
}
h2 {
  font-family: var(--paragraph-font-family);
  font-size: 30px;
  font-weight: normal;
  color: var(--primary-color);
}
.introduction p,
.title {
  font-family: var(--font-mono);
  color: var(--secondary-color);
  font-size: 18px;
}
.btn-branding {
  background-color: var(--secondary-color);
  padding: 20px 28px;
  color: var(--background-color);
  border: 1px solid var(--secondary-color);
  font-family: var(--font-mono);
  margin-top: 50px;
  font-size: 16px;
}
.btn-branding:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
p {
  font-family: var(--paragraph-font-family);
  color: var(--primary-color);
  font-size: 20px;
  line-height: 26px;
}

.btn-branding-outline {
  padding: 20px 28px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-family: var(--font-mono);
  margin-top: 50px;
  font-size: 16px;
}
.btn-branding-outline:hover {
  background-color: var(--secondary-color);
}
.descriprion {
  padding: 40px 20px 0 0;
}
